body {
    background-color: rgb(233, 184, 24);
}

.text-center {
    text-align: center;
}

.cursive {
    text-align: center;
    font-style: italic;
}

img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
