body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

header button {
    padding: 10px 20px;
    border: none;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

header button:hover {
    background-color: #777;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.repo {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(2, 2, 75, 0.5);
}

.repo h2 {
    margin: 0 0 10px;
}

.repo p {
    margin: 5px 0;
}

.repo a {
    color: #333;
    text-decoration: none;
}

.repo a:hover {
    text-decoration: underline;
}

